@import "tailwindcss";

@theme {
  --color-primary: #3238ac;
  --color-primary-light: #4a50c7;
  --color-accent: #fc664d;
  --color-accent-light: #ff8a6c;
  --color-gradient-start: #fc664d;
  --color-gradient-end: #3238ac;
}
